@charset "utf-8";
/* Samsung AI PJ : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */


/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Tilt+Warp&display=swap');
/* 
    0. 메뉴 등 일반체
    font-family: 'Noto Sans KR', sans-serif;
    2. 삼성 로고 <- 더 얇은 폰트로 변경필요해 보임
    family=Tilt+Warp
*/

html {
  font-size: 10px;
}

/* 중앙 속박스 */
.inbox{
    /* 최대 width */
    max-width: 1400px;
    /* 블록박스 중앙정렬 */
    margin: 0 auto;
}


/* 그룹파트박스 */
.group-part{
    /* 상하패딩 넣기 */
    padding: 60px 0;
}

/* 플렉스박스 클래스 */
.fx-box{
    display: flex;
    flex-wrap: wrap;
}

/* 파트박스 */
.partbox {
    /* 패딩,보더 포함박스 */
    box-sizing: border-box;
}

/* 메인영역 col- 박스 */
.main-area [class*='col-'] {
    padding: 10px;
}

