@charset "utf-8";
/* Samsung AI PJ : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

html {
  font-size: 10px;
}

/* 중앙 속박스 */
.inbox{
    /* 최대 width */
    max-width: 1400px;
    /* 블록박스 중앙정렬 */
    margin: 0 auto;
}

/* 그룹파트박스 */
.group-part{
    /* 상하패딩 넣기 */
    padding: 60px 0;
}

/* 플렉스박스 클래스 */
.fx-box{
    display: flex;
    flex-wrap: wrap;
}

/* 파트박스 */
.partbox {
    /* 패딩,보더 포함박스 */
    box-sizing: border-box;
}

/* 메인영역 col- 박스 */
.main-area [class*='col-'] {
    padding: 10px;
}


/*******************************8 스크롤바 디자인 클래스 *******************************8/
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}
