@charset "utf-8";

/* 공통 외부 css import */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 그리드 12 import */
@import url(./grid_12_flex.css);

/* body outline 표시 */
body * {
  outline: 2px dashed #ccc;
}

/* 임시 height 값 */
main .inbox {
  height: 100vh;
}

/* 임시 타이틀 */
h2.temp {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  font-size: 4vw;
  color: #ccc;
  outline: none;
}

/********************* 메인 영역 *********************/
/************** 2. 메인배너영역 **************/
<<<<<<< HEAD:1차_프로젝트/02.구현소스/css/index.css
=======
.main-area {
  position: relative;
  /* height: 540px; */
}
.main-area .ban-area{
  position: absolute;
  top: 0;
  /* 나의 부모는? #ban-area */

  /* 가로중앙셋팅: 
  앱솔루트이므로 마.영.오 적용불가! */
  left: 50%;
  translate: -50%;

  width: 100%;
  height: 530px;
}
/* 2-1. 백그라운드 동영상 */
.main-area video {
  width: 100%;
  height: 100%;
  object-position: top;
  
}
>>>>>>> parent of 2a514d8 (ㄱㅅㄱ):1차_프로젝트/02.구현소스/css/main.css
