@charset "utf-8";

/* 공통 외부 css import */
@import url(./reset.css);
@import url(./core.css);
@import url(./inc.css);

/********************* 메인 베너 *********************/
.main-ban {
  position: relative;
}

.main-ban video {
  width: 100%;
}

.main-ban .tbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.main-ban .tbox h2 {
  font-size: 3.5vw;
  margin-bottom: 10px;
}

.main-ban .tbox p {
  font-size: 1.8vw;
}

/********************* 서브 베너1 *********************/

.sec2 {
  height: 100vh;
  background: black;
}
.sub1-ban {
  position: relative;
  height: 100%;
  width: 100%;
}

.sub1-ban video {
  width: 100%;
  height: 100%;
}

.sub1-ban .tbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ededed;
  text-shadow: 0 0 5px #000;
  text-align: center;
}

.sub1-ban .tbox h2 {
  font-size: 3.5vw;
  margin-bottom: 20px;
}

.sub1-ban .tbox p {
  font-size: 1.8vw;
}

/********************* 서브 베너2 *********************/
.sec3 {
  background: white;
  height: 100vh;
}
.sub2-ban .bg-img img {
  width: 100%;
}

.sub2-ban .img-box {
  display: flex;
  overflow: hidden;
  margin-top: 50px;
  width: 100%;
}
.sub2-ban .img-box ul {
  display: flex;
  height: 100%;
  width: 100%;
  animation: img-flow-ani1 30s linear infinite;
  opacity: 70%;
}
.sub2-ban .img-box ul li {
  width: 400px;
  margin: 20px;

  outline: auto;
}
.sub2-ban .img-box ul li img {
  width: 100%;
}

@keyframes img-flow-ani1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/********************* 서브 베너3 *********************/
.sec4 {
  background: white;
}

.sub3-ban .tbox {
  text-align: center;
  padding-top: 10%;
}

.sub3-ban > .tbox .tit {
  font-size: 3.5vw;
}
.sub3-ban .tbox .sec4-menu {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.sub3-ban .tbox .sec4-menu ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.3vw;
}

.sub3-ban .img-area ul {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  padding: 30px 100px 50px 100px;
}
.sub3-ban .img-area ul li {
  border-radius: 1.4vw;
  overflow: hidden;
  margin: 5px;
}
.sub3-ban .img-area ul li:nth-child(2) {
  grid-row: span 2;
}
.sub3-ban .img-area .img-box {
  position: relative;
}
.sub3-ban .img-area .img-box img {
  width: 100%;
}
.sub3-ban .img-area .tbox {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  flex-direction: column;
}

.sub3-ban .img-area .tbox .tit {
  font-size: 2vw;
  font-weight: bold;
}
.sub3-ban .img-area .tbox .info {
  margin-top: 7px;
  font-size: 1.5vw;
}

/********************* 서브 베너4 *********************/

.sec5 {
}

.sub4-ban .sec-wrap {
  padding: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  /* position: sticky; */
  margin: 5%;
}

.sub4-ban .sec-wrap > .tbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  line-height: 2;
}

.sub4-ban .sec-wrap > .tbox > .tit {
  font-size: 3vw;
  font-weight: bold;
}

.sub4-ban .sec-wrap > .tbox > .info {
  font-size: 1.5vw;
}
.sub4-ban .sec-wrap .img-area > ul {
  display: flex;
  justify-content: space-between;
}

.sub4-ban .sec-wrap .img-area .img-box {
  position: relative;
}

.sub4-ban .sec-wrap .img-area .img-box .tbox {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub4-ban .sec-wrap .img-area .img-box .tbox .main-txt {
  font-size: 1.8vw;
  font-weight: bold;
}
.sub4-ban .sec-wrap .img-area .img-box .tbox .sub-txt {
  font-size: 1vw;
}
