@charset "utf-8";

/* 공통 외부 css import */
@import url(./reset.css);
@import url(./core.css);
@import url(./inc.css);

/* 그리드 12 import */
@import url(./grid_12_flex.css);
body * {
  /* body outline 표시 */
  /* outline: 2px dashed #ccc; */
  /* overflow-x: hidden; */
}

/* 임시 height 값 */
main .inbox {
  height: 100vh;
}

/* 임시 타이틀 */
h2.temp {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  font-size: 4vw;
  color: #ccc;
  outline: none;
}
/********************* 메인 영역 *********************/
/************** 2. 메인배너영역 **************/
.ban-area {
  position: relative;
}
/* 2-1. 백그라운드 동영상 */
.ban-area video {
  width: 100%;
}

/* 2-2. 메인배너 텍스트 */
.ban-area .txt-box {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
}
.ban-area .txt-box h2 {
  font-size: 4.3vw;
}
.ban-area .txt-box p {
  margin-top: 30px;
  font-size: 1.3vw;
}

/************** 3. 서브배너1 영역 **************/
.sub1-area {
  position: relative;
  height: 100vh;
  background: #000;
}

/* 3-1. 백그라운드 동영상 */
.sub1-area video {
  width: 130%;
  margin-left: -15%;
  margin-top: 5%;
}

/* 3-2. 서브1배너 텍스트 */
.sub1-area .txt-box {
  position: absolute;
  top: 36%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: #ededed;
  text-shadow: 0 0 5px #000;
  z-index: 1;
}
.sub1-area .txt-box h2 {
  font-size: 4.3vw;
  text-align: center;
}

.sub1-area .txt-box p {
  /* opacity: 0; */
  margin-top: 30px;
  font-size: 1.3vw;
  text-align: center;
}

/* 4. 서브 배너2 */
.sub2-area {
  position: relative;
}
.sub2-area img {
  position: absolute;
  width: 95vw;
  left: 0;
  top: 0;
}
