@charset "utf-8";

/* 공통 외부 css import */
@import url(./reset.css);
@import url(./core.css);
@import url(./inc.css);

.main-ban {
  position: relative;
}

.main-ban .tbox1 {
  position: absolute;
  top: 0;
  left: 0;
}

.main-ban .tbox2 h2{
  font-size: 4.3vw;
}