@charset "utf-8";

/* 공통 외부 css import */
@import url(./reset.css);
@import url(./core.css);
@import url(./inc.css);

.main section{
  width: 800px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
}

.main section > video {
  width: 100%;
}

.sec3 .top > img{
  width: 100%;
}

.sec3 .product-box{
  width: 100%; /* 화면 너비에 맞게 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  white-space: nowrap; 
  box-sizing: border-box;
  position: relative;
  display: flex;

}
.sec3 .product-box > ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  /* animation: txt-flow-ani1 10s linear infinite; */
}

.sec3 .product-box > ul > li {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sec3 .product-box > ul > li > img {
  width: 100%;
}

.sec3 .product-box > ul > li > .title {
  font-size: 24px;
}



/* 글자 흐르게 하기 키프레임1 */
 @keyframes txt-flow-ani1 {
  from {
    transform: translateX(0); /* 시작 위치 */
  }
  to {
    transform: translateX(-50%); /* 전체 트랙의 절반 이동 */
  }
} 


/* sec4 */

.sec4 .top {

}
.sec4 .top .sec4-title {
  text-align: center;
}

.sec4 .top .sec4-title .title  {
  font-size: 24px;
}

.sec4 .top .sec4-menu{

}

.sec4 .top .sec4-menu > ul {
  display: flex;
  justify-content: space-between;
}

.sec4 .top .sec4-menu > ul > li {
  
}


.sec4 .content {

}

.sec4 .content .item-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.sec4 .content .item-list .item{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.sec4 .content .item-list .item:nth-child(2) {
  grid-row: span 2;
  position: relative;
}

.sec4 .content .item-list .item:nth-child(2) .info-box {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
}

.sec4 .content .item-list .item .img-box{
  
}

.sec4 .content .item-list .item .img-box > img{
  width: 100%;
}

.sec4 .content .item-list .item .info-box{
  display: flex;
  flex-direction: column;
}

.sec4 .content .item-list .item .info-box span{
  
}

.sec4 .content .item-list .item .info-box .info{
  
}

.sec4 .content .item-list .item .info-box .title{
  
}




/* sec5 */

.sec5 {
  border: 1px solid black;
  border-radius: 30px;
}

.sec5 .sec-wrap{
  padding: 50px;
}

.sec5 .sec-wrap >.info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec5 .sec-wrap >.info-box >.title{
  font-size: 24px;
  font-weight: bold;
}

.sec5 .sec-wrap >.info-box >.info{
  font-size: 20px;
}

.sec5 .sec-wrap .content{

}

.sec5 .sec-wrap .content >ul {
  display: flex;
  justify-content: space-between;
}

.sec5 .sec-wrap .content >ul >li {
  width: 30%;
  aspect-ratio: 1;
  background-color: aqua;
}

.sec5 .sec-wrap .content >ul >li >.top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec5 .sec-wrap .content >ul >li >.top >.title {

}

.sec5 .sec-wrap .content >ul >li >.top >.text-ex {

}

.sec5 .sec-wrap .content >ul >li >.img-box {

}

.sec5 .sec-wrap .content >ul >li >.img-box >img {

}
