@charset "utf-8";

@import url(./reset.css);

/* top-area */
#top-area{
    width: 100%;
    height: 72px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.logo {
    /* color: #; */
}
/* main-area */

/* bottom-area */
